.navbar-nav{
    list-style-type: none;
    color:beige;
}
.navbar-nav a{
  
    color:beige;
}
.header{
    background:linear-gradient(125deg, #FFCC00, #fcdd5f,#ffe375);
}
.hero{
    height:670px;
    border :1px solid red;
    padding: 20px;
}