.content {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
  }
  
  h1 {
    margin-top: 0;
    font-size: 36px;
    font-weight: bold;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
  }
  main{
    padding-top: 50px;
	padding-bottom: 50px;
  }
  .size-large{
    width:50%;
  }
  
  